<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: htmlhead"></head>
    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <div>
                <img class="home" th:src="@{/img/ICM.gif}">
            </div>
            <a href="http://localhost:8080/login?logout"><button style="background: #06161b; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Logout</button></a>



        </div>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html> 
